<mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
<mat-toolbar >
  <mat-toolbar-row>
    <span>STARTWARE</span>
  </mat-toolbar-row>
</mat-toolbar>

<img class="img-fluid" src="../../assets/img/ny_city_banner.jpg">

<div class="container mt-5">
  <mat-card>
    <mat-card-header>
      <mat-card-title>STARTWARE</mat-card-title>
    </mat-card-header>
    <mat-card-content>This is the new homepage of STARTWARE !!</mat-card-content>
  </mat-card>
</div>

<mat-toolbar class="footer small">
  <mat-toolbar-row>
    Copyright &copy; 2019 STARTWARE.
    <span class="spacer"></span>
    <a routerLink="">About</a>
    <a routerLink="" class="ml-2">Contact</a>
  </mat-toolbar-row>
</mat-toolbar>

