<mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
<mat-toolbar >
  <mat-toolbar-row>
    <span>STARTWARE</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

  <mat-card>
    <mat-card-header>
      <mat-card-title>STARTWARE</mat-card-title>
    </mat-card-header>
    <mat-card-content>This is the new homepage of STARTWARE !!</mat-card-content>
  </mat-card>
